<%- include('../includes/start.ejs') %>

    <link rel="stylesheet" href="/main/form.css">
    <link rel="stylesheet" href="/main/admin.css">
    <link rel="stylesheet" href="/main/login.css">

</head>

<body>
    <%- include('../includes/nav.ejs') %>

    <main class="main-form">
        <% if(errorMsg){ %> 
            <div class="user-msg user-msg-error"> <%= errorMsg %> </div>
        <% } %>
        <form class=" login-form" action="/new-password" method="POST">
            
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

            <div class="form-control">
                <input type="hidden" name="userId" value="<%= userId %>">
                <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                <label for="password" class="main-form-text">Password</label>
                <input type="password" name="password" class="main-form-input" id="password">
            </div>

            <button type="submit" class="btn">Update Password</button>
        </form>
    </main>

<%- include('../includes/end.ejs') %>